/* --- Style.css --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    background-color: black;
    color: whitesmoke;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.5rem;
}

p, strong, li {
    font-size: 1.8rem;
}

.content{
    width: 30%;
    height: 350px;
    border: 2px solid red;
}

main {
    display: flex;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label::before {
    content: "\25CB";
    margin-right: 0.5rem;
    color: goldenrod;
}

input[type="radio"]:checked + label::before {
    content: "\25C9";
    color: blueviolet;
}

.btn {
    color: #ddd;
    background-color: grey;
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 2rem 0;
}

.characterSheet {
    border: 1px solid white;
    width: 40%;
    padding: 1rem;
}

.stat {
    border-top: 1px solid white;
    border-bottom: 1px solid wheat;
    padding: 1rem;
}

.attributes, .gear, .consumables {
    padding: 1rem;
    border-bottom: 1px solid white;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input#hp {
    background: linear-gradient(to right, red 0%, red 70%, #ddd 70%, #ddd 100%);
}

input#mana {
    background: linear-gradient(to right, blue 0%, blue 40%, #ddd 40%, #ddd 100%);
}

.narracio {
    background-color: #111;
    color: #eee;
    margin: 2rem 0;
    padding: 1.5rem;
    border: 1px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(218,165,32,0.3);
}


html {
    position: absolute;
    display: flex;
      width: 75%;
    min-height: calc((1vw + 1vh) * 75);
    /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 2em 0;
      padding: 4em;
      box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
      background: #fffef0;
      color: black;
    filter: url(#wavy2);
  }
